@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: blue;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
}

label {
  font-family: Inconsolata, Menlo, Chicago, Geneva;
  font-size: 14px;
}

*:focus-visible {
  outline: 3px solid black;
}
