@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: blue;
}

html,
body,
#app {
  min-height: 100vh;
}

#app {
  display: flex;
  align-items: center;
  min-height: fit-content;
  padding-block: 2rem;
  min-height: 100vh;
}

label,
.label {
  font-family: Inconsolata, Menlo, Chicago, Geneva;
  font-size: 14px;
}

*:focus-visible {
  outline: 3px solid black;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(0.9);
    background: black;
  }
}
