.presence-cursor {
  @apply drop-shadow-lg;

  position: absolute;
  pointer-events: none;
  z-index: 9999;

  --fill: color-mix(in hsl, var(--color), black 25%);
  --fill: color-mix(in oklch, var(--color), black 25%);
}

.presence-cursor-own {
  @apply outline outline-1 outline-white;
}

.presence-cursor-cta,
.presence-cursor-chat {
  @apply text-white px-2 py-1 rounded text-base min-w-6 max-w-48 shadow-2xl;
  background-color: var(--fill);
  white-space: nowrap;
  overflow: hidden;
}

::highlight(highlight-party) {
  @apply bg-[hsl(from_var(--accent)_h_s_l/0.2)];
}
